body {
    font-family: sans-serif;
}


header {
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: rebeccapurple;
    font-size: 60px;
}

header a {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    
}

div {
    align-items: center;
    display: flex;
}

div b {
    margin-left: 15px;
}

nav {
    margin: 30px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    border-bottom: 1px dotted white;
}


.tr  {
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 10px;
    font-size: 17px;
    color: aliceblue;
}

.tt {
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
}

.ty {
    
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rebeccapurple;
    background-color: rebeccapurple;
    color: white;
}

.yy{
    display: block;
    margin: 0px auto 0px auto;
}

.yy:hover {
    border: 5px solid rebeccapurple;
    border-radius: 7px;
}


b {
    font-size: 25px;
    color:white;
}



footer {
    background-color: rebeccapurple;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

h2{
    text-align: center;
    color: rebeccapurple;
    font-size: 30px;
    font-weight: bold;
}
